
body{
	font-family: "Roboto",sans-serif;
	font-weight:100;
	background-color:#cccccc;
}
p{
	font-family: "Roboto",sans-serif;
	font-weight: 300;
	font-size: 1.2em;

}
h2{
	
	font-family:'Open Sans',sans-serif;
	font-weight: 700;
	margin-left: 90px;
}
h1{
	font-family: "Source Sans Pro",sans-serif;
	font-weight: 800;
	font-size: 3.8em;
	margin:3% auto;
	text-align: center;
}
table{
	position:relative;
	left:90px;
	top:20px;
}
#random{
	background-color: #eee;
}
#random h1{
	color:#666;
	border-bottom: 1px dashed #fff;
	font-family: 'Open Sans',sans-serif;
	font-weight: 700;
}
#sidebar{
	background-color: #dfdfdf;
}
#sidebar h1{
	color:#666;
	font-family: 'Open Sans',sans-serif;
	font-weight: 700;
	border-bottom: 1px dashed #fff;
}
#sidebar ul li{
	display:block;
	list-style: none;
	color:#333;
	background-color:#dfdfdf;
	padding:10px 15px 20px 65px;
}
#main{
	padding:7%;
	width:100%;
}
#content{
	width:70%;
	background-color:#66cccc;
	padding:40px;
	margin:0 5px 10px 5px;
	margin:5% auto;
}
.action a{
	color:#333;
	background-color: #ffcccc;
	padding: 20px 50px 20px 50px;
	position:relative;
	left:100px;
	top:50px;
}
#footer{
	background-color: #66cccc;
	margin-top: 300px;
	padding:30px 20px 10px 20px;
}
#footer p{
	font-family: 'Roboto',sans-serif;
	font-weight: 300;
	color:#eee;
	text-align: center;
}
#error{
	padding:10px;
	margin:25px 0px;
	display:block;
	width:532px;
	background: url(../img/error.png);
	background-repeat: no-repeat;
	position:relative;
	top:300px;
	left:60px;
	color:white;
	font-weight: 700;
	font-size: 1.2em;

}
#error li{
	padding:2px;
	list-style: none;
	left:80px;
	position:relative;
}
#contact{
	width:70%;
	background-color: #e47979;
	padding:40px;
	margin:0 5px 10px 5px;
	margin:50px auto;
    position:relative;
}
#contact input:focus,select:focus,textarea:focus{
	border: 1px solid #fff;
    background-color: #eee;
}

#contact label{
	display: block;
}
#contact .required{
	font-weight: bold;
}
#submit-btn{
	width:100px;
	background-color: #000;
	color: #fff;
	font-size:0.9em;
	display: block;
	height:40px;
	font-weight: 100;
	text-align: center;
	margin:0 auto;
}
#contact #submit-btn:hover{
	background-color: #333;
}